html {
    background-color: green;
    margin: auto;
}
.container {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    
}
.subtitle {
    background-color: white;
    
    margin-bottom: 4px;
    width: 182px;
    border:5px solid black;
}
div.form {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 10px;
    
    margin-bottom: 20px;
    border: 5px solid black;
}
input {
    width: 110px;
}
input#gols ,
input#assist {
    width: 30px;
}

table#tabela {
    background-color: aqua;
    border: 1px solid black;

}

.linha {
    background-color: blue;
}